@model Bookietry.Models.Invoice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="invoice_id" />
            @*<div class="form-group">
                <label asp-for="userID" class="control-label"></label>
                <input asp-for="userID" class="form-control" />
                <span asp-validation-for="userID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Book_Id" class="control-label"></label>
                <select asp-for="Book_Id" class="form-control" asp-items="ViewBag.Book_Id"></select>
                <span asp-validation-for="Book_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoice_name" class="control-label"></label>
                <input asp-for="invoice_name" class="form-control" />
                <span asp-validation-for="invoice_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoice_phone" class="control-label"></label>
                <input asp-for="invoice_phone" class="form-control" />
                <span asp-validation-for="invoice_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoice_mail" class="control-label"></label>
                <input asp-for="invoice_mail" class="form-control" />
                <span asp-validation-for="invoice_mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invoice_address" class="control-label"></label>
                <input asp-for="invoice_address" class="form-control" />
                <span asp-validation-for="invoice_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
